.Menu-container{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    width: 100%;
    min-height: 800px;

}
.Menu-items{
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;  
}

/* .list-items{
    list-style-type:none ;
    margin: 20px 0 20px 0px; 
}
.list{
    margin: 20px 0 20px 0px;

} */

/* .list button{
    display: block;
    width: 180px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
       
} */

.list > button {

    display: block;
    width: 190px;
    text-align: left;
    font-size: 1.5rem;
    padding: 10px 0 ;
    padding-left: 4px;
    border-left: 3px solid rgba(46, 229, 157, 0.4);
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.list button:hover {
    background-color: #2EE59D;
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    border-left: 3px solid #fff;
   
    /* transform: translateY(6px); */
  }
.show-Menu{

   flex: 0.7;
   display: flex;
   justify-content: center;
   align-items: center;
     
}


@media (max-width: 850px) {

    .Menu-container{

        margin-top: 40px;
        height: auto;
 
    }


}

@media (max-width: 720px) {

     .Menu-container{

        margin-top: 0px;
        
 
    }

}
@media (max-width: 650px) {

    .Menu-container{
        margin-top: 0px;
        display: flex;
        height: 100vh;
        
    }

    .Menu-items{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }


    .list-items{

        width: 100%;
        padding: 0 10px;
        
    }

    .list-items > .list{

        display: inline-block;
        width: 140px;
        margin: 4px;

    }
    .list > button{

        display: inline-block;
        width: 140px;
        
    }
      
    .show-Menu{

        display:flex;
        justify-content: center;
        width: 100%;
         
    }
  
}

@media (max-width: 560px) {

    .Menu-container{
        min-height: auto;
        flex-direction: column;
        
    }
    .Menu-items{
        margin: 0 4px;
        height:auto;
    }

    ul.list-items{
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
    }

     ul.list-items > li.list{
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
     }


    .show-Menu{
        margin-top: 5px;
        height: auto;
    }

    
 

}

@media (max-width: 400px){
     .Menu-items{
       padding-top: 100px;
    }
     .Menu-container{
        height: auto;
    }
}





