*{
    margin : 0;
    padding: 0;
}
body{
    background-color:#0b192e ; 
    /* --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-style: var(--font-sans); */
 
}